# Terraform
.terraform/
*.tfstate
*.tfstate.backup
crash.log
override.tf
override.tf.json
*.tfvars
*.tfvars.json
# Keep lock file tracked (do NOT ignore)
#! .terraform.lock.hcl

# Node/Frontend
node_modules/
dist/
build/

# Python
__pycache__/
*.pyc
.venv/
venv/

# Editors/OS
.vscode/
.idea/
.DS_Store
